@{
  ViewBag.Title = "Остатки";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
  <style type="text/css">
    .icon-refresh
    {
      background-image: url(@Url.Content("~/Scripts/ExtJS62/build/classic/theme-crisp/resources/images/grid/refresh.png")) !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="~/Scripts/ExtJS62/build/classic/theme-crisp/resources/theme-crisp-all.css" />
  <script type="text/javascript" src="~/Scripts/ExtJS62/ext-bootstrap.js"></script>

  <script type="text/javascript" src="~/Scripts/ExtJS62/build/classic/locale/locale-ru.js"></script>
  <script type="text/javascript" src="~/Scripts/ExtJS62/ux/Exporter.js"></script>

  <script type="text/javascript">

    Ext.onReady(function () {
      Ext.tip.QuickTipManager.init();

      Ext.create('Ext.form.Panel', {
        activeItem: 0,
        standardSubmit: true,
        title: '@ViewBag.Title',
        collapsible: true,
        border: false,
        frame: true,
        autoHeight: true,
        renderTo: 'f',
        autoHeight: true,
        width: 440,
        bodyStyle: 'padding:5px 10px 0',
        layout: 'anchor',
        referenceHolder: true,
        defaultButton: 'okButton',
        defaultFocus: 'datefield',
        items: [{
          xtype: 'datefield',
          name: 'dt',
          fieldLabel: 'Дата',
          allowBlank: false,
          format: 'd.m.Y',
          startDay: 1,
          value: Ext.Date.add(Ext.Date.clearTime(new Date(), false), Ext.Date.DAY, -2),
          width: 190,
          labelWidth: 40,
          listeners: {
            afterrender: function () { this.setValue(Ext.util.Cookies.get(this.name + '01') ? new Date(Ext.util.Cookies.get(this.name + '01')) : Ext.Date.add(Ext.Date.clearTime(new Date(), false), Ext.Date.DAY, -2)); },
            blur: function () { Ext.util.Cookies.set(this.name + '01', this.getValue()); }
          }
        }],
        buttonAlign: 'left',
        buttons: [{
          reference: 'okButton',
          text: 'Выполнить',
          handler: function () {
            var fp = this.up('form').getForm();
            if (fp.isValid()) {
              var form = Ext.getDom('rests');
              form.dt.value = fp.findField('dt').rawValue;
              form.submit();
            }
          },
          formBind: true
        }]
      });
    });
  </script>
}
<div id="f" style="padding: 30px">
</div>
<form id="rests" action="@Url.Action("RestsReport")" method="POST" style="display: none;">
  <input type="hidden" name="dt" />
</form>
