@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-md-4">
    <p>
      <ul class="list-group">
        <li class="list-group-item"><a href="/code/envoi">РАСКРЫТИЕ И ПРЕДОСТАВЛЕНИЕ ИНФОРМАЦИИ</a></li>
        <li class="list-group-item"><a href="/code/investdecl">ИНВЕСТИЦИОННАЯ ДЕКЛАРАЦИЯ</a></li>
        <li class="list-group-item"><a href="/code/investdecl/moddeal">МОДЕЛИРОВАНИЕ СДЕЛОК</a></li>
        <li class="list-group-item"><a href="/code/quik">ЗАЯВКИ ДЛЯ QUIK</a></li>
        <li class="list-group-item"><a href="/code/jur">ДОВЕРЕННОСТИ</a></li>
        <li class="list-group-item"><a href="/code/jur/reestr">РЕЕСТР</a></li>
        <li class="list-group-item"><a href="/code/jur/edo">СЕРТИФИКАТЫ ЭДО</a></li>
        <li class="list-group-item"><a href="/code/regdoc">ЖУРНАЛ КОРРЕСПОДЕНЦИИ</a></li>
        <li class="list-group-item"><a href="/code/enreg">ЖРПК</a></li>
        <li class="list-group-item"><a href="/code/enreg2">ЖРПК РФК</a></li>
        <li class="list-group-item"><a href="/code/payment">ПЛАТЕЖИ</a></li>
      </ul>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <ul class="list-group">
        <li class="list-group-item"><a href="/code/envoi/email">СОТРУДНИКИ</a></li>
        @if (User.IsInRole("admin"))
        {
          <li class="list-group-item"><a href="/admin">ПОЛЬЗОВАТЕЛИ</a></li>
        }
        <li class="list-group-item"><a href="/home/workdate">РАБОЧИЕ ДНИ</a></li>
        <li class="list-group-item"><a href="/code/investdecl/treaty">ДОГОВОРЫ</a></li>
        <li class="list-group-item"><a href="/code/investdecl/rests">ОСТАТКИ</a></li>
        <li class="list-group-item"><a href="/code/investdecl/portfolio">ПОРТФЕЛИ</a></li>
        <li class="list-group-item"><a href="/code/investdecl/secgroup">ГРУППЫ БУМАГ</a></li>
        <li class="list-group-item"><a href="/code/risk/LimitList">ЛИМИТНАЯ ВЕДОМОСТЬ</a></li>
        <li class="list-group-item"><a href="/code/risk/market">РЫНОЧНЫЕ РИСКИ</a></li>
      </ul>
    </p>
  </div>
</div>
@section css {
  @Styles.Render("~/Content/bootstrap")
}
